// --- Simple Grid System ---

@mixin span($width,$margin:$site-gutter,$siteRealWidth:$site-container) {
  @if unit($margin) == 'px' {
    $margin :  ( $margin / $siteRealWidth ) * 100%;
  } 
  width: grid-width($width,$margin,$siteRealWidth);
  margin-left:  $margin;
}

@function grid-width($width,$margin:$site-gutter,$siteRealWidth: $site-container) {
  $siteWidth : ( $width  / $siteRealWidth ) * 100%;
  @return  $siteWidth - $margin;
}

@function span($width,$container: $site-container) {
  $siteWidth : ( $width  / $container ) * 100%;
  @return $siteWidth;
}
 
// Masonry Grids
@function gridItems($i) {
  $containerWidth: $site-container - ( $site-gutter *  $i );
  $gridWidth: $containerWidth / $i; 
  @return  percentage( $gridWidth /  $site-container);  
}
